@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Work+Sans:wght@400;500;600&display=swap");
:root {
  /* font-family: 'Inter', sans-serif; */
  font-family: "Work Sans", sans-serif;
}
.primary-btn {
  margin-top: 20px;
  width: 142px;
  height: 50px;
  background: #eb5757;
  border-radius: 10px;
  border-color: #eb5757;
  color: #ffffff;
  font-weight: 600;
}
.card {
  padding: 20px;
  border-radius: 25px !important;
}
.card img {
  border-radius: 25px;
  height: 235px;
}
.card-title {
  font-weight: 600 !important;
  color: #111111 !important;
}
.card-text {
  font-weight: 400 !important;
  color: #585858 !important;
}
.modalSpan {
  height: 25px;
  width: 25px;
  background-color: #bbbbbb4f;
  border-radius: 50%;
  text-align: center;
  color: orange;
}
